html,
body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  /* display: none; */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
