.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.date {

}

.title-text {

}

.description-text {

}

.body-text {

}

.submit-button {

}
  
#red-outline {
    border-color: red;
}